<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <b th:text="${error}" th:hidden="${error == null}" style="color: red"></b>
    <h2>Choose balloon color:</h2>
    <form th:action="@{/}" th:method="POST">
        <ul>
            <li th:each="balloon : ${balloons}">
                <input type="radio" th:name="color" th:value="${balloon.name}"/>
                <label th:text='${balloon.name + " - " + balloon.description}'></label>
                <a th:href="@{/balloons/edit-form/{id}(id=${balloon.id})}">Edit</a>
                <a th:href="@{/balloons/delete/{id}(id=${balloon.id})}">Delete</a>
            </li>
        </ul>
        <input type="submit" value="Submit"/>
    </form>
    <a href="/balloons/add-form">Add new balloon</a>
    <a th:href="@{/logoutOrder}">Log out</a>
    <a th:href="@{/userOrders}">User orders</a>
    <a th:href="@{/orders}">All orders</a>
</main>
</body>
</html>
